# Python environments and cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# PyInstaller build directories and files
build/
dist/
*.spec

# Ignore compiled Python files
*.pyc

# Project specific local data
config.json
Lofi/
!lofi/
!lofi/**
*.log

# Music Files
*.mp3
*.wav